html {
  scroll-behavior: smooth;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #262626;
  opacity: 0;
  translate: 0, -50%;
  animation: apparition 0.0s 0s ease-out forwards;
}

body {
  background-color: #e9e0d2;
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  opacity: 0;
  translate: 0, -50%;
  animation: apparition 0.5s 1s ease-out forwards;
  overflow-x: hidden;
}

.bgfooter {
  color: white;
  background-color: #262626;
}

.triangle {
  background-repeat: no-repeat;
}

.img {
  justify-content: flex-end;
  height: 500px;
}

.textp {
  font-size: 25px
}

.Hrôle {
  color: white;
  border: solid 1px #CF3A3A;
  background-color: #CF3A3A;
  border-radius: 5px;

}

.Mrôle {
  color: white;
  border: solid 1px #0052ff;
  background-color: #0052ff;
  border-radius: 5px;
}

.Drôle {
  color: white;
  border: solid 1px #00b9ff;
  background-color: #00b9ff;
  border-radius: 5px;
}

.Brôle {
  color: white;
  border: solid 1px #ffc800;
  background-color: #ffc800;
  border-radius: 5px;
}

.Wrôle {
  color: white;
  border: solid 1px #0c5c15;
  background-color: #0c5c15;
  border-radius: 5px;
}

.Arôle {
  color: white;
  border: solid 1px #ff00ac;
  background-color: #ff00ac;
  border-radius: 5px;
}

.case {
  border: solid 5px transparent;
  border-radius: 5px;
  height: 40vh;
  width: 80vh;
  margin-left: 27vh;
}

.textaling {
  font-size: 25px;
  display: flex;
}


.stafftitle {
  font-size: 125px;
  text-align: center;
  color: #262526;
}

#scrollUp {
  position: fixed;
  bottom: 8px;
  height: 8vh;
  width: 20vh;
  right: -90px;
  z-index: 2;
}

.container-fluid {
  font-size: 25px;
  margin: 0px 5px;
}

.install {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background-image: linear-gradient(225deg, #ff7300 35%, #ffae00 50%);
  color: white;
  position: relative;
  overflow: hidden;
  padding: 10px 30px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1em;
  box-shadow: 0px -0px 0px 0px #ff7b00, #ffa600;
  transition: all .2s;
}

.install::after {
  content: "";
  width: 3500px;
  height: 400px;
  color: #262626;
  position: absolute;
  top: -50px;
  left: -100px;
  z-index: -1;
  transition: all .2s;
  color: black;
}


.install:hover {
  transform: translate(0, -6px);
  box-shadow: 10px -10px 25px 0 rgba(#ff7300, #ffa600);
}

.launcher {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  overflow-y: hidden;
  color: white;
}

/* Modal Content/Box */
.modal-content {
  background-color: #262526;
  margin: 15% auto; /* 15% from the top and centered */
  top: -15%;
  padding: 20px;
  border: 1px solid #888;
  width: 70%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.oups {
  display: flex;
  justify-content: center;
  margin: auto;
  height: 500px;
  }

.button {
  border: 0;
  background: transparent;
  color: white;
  position: relative;
  overflow: hidden;
  padding: 10px 30px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1em;
  box-shadow: 0px -0px 0px 0px #ffaa00, #ff7300;
  transition: all .5s;
}

.button::after {
  content: "";
  width: 400px;
  height: 400px;
  color: #262626;
  background-image: linear-gradient(225deg, #ff7300 35%, #ffaa00 50%);
  position: absolute;
  top: -50px;
  left: -100px;
  z-index: -1;
  transition: all .5s;
  color: black;
}

.button:hover::after {
  transform: rotate(150deg);
}

.button:hover {
  transform: translate(0, -6px);
  box-shadow: 10px -10px 25px 0 rgba(#ff7300, #ffaa00);
}


/* .jouer {
    background-image: linear-gradient(to right, #ff7300, #f7b733 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } */

.navlogo {
  height: 8vh;
  ;
}

.navbar-brand {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  background-image: linear-gradient(to right, #ff7b00, #f7b733 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-link {
  font-size: 30px;
  margin: 10px;
}


/* lors du survol du liens, sa couleur change progressivement en 1 seconde */

/* .logo {
    display: flex;
    border: 4px solid;
    background: linear-gradient(to right, #fc4a1a, #f7b733 );
    border-radius: 30px;;
    border-image-slice : 1;
    margin: auto;
  } */

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid red;
  width: 650px;
  height: 15vh;
  border-image: linear-gradient(to right, #fc4a1a, #f7b733);
  border-image-slice: 1;
  margin: auto;
}

.center {

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 500;

}

.square {
  display: flex;
  border: 2px solid #262626;
  width: 650px;
  height: 10h;
  margin: auto;
}

.ligne_horizontal {
  display: flex;
  flex-direction: row;
}

.ligne_horizontal:before,
.ligne_horizontal:after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid #696969;
  margin: auto;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
  margin-top: 80px;
   width: 25%;
   padding: 0 15px;
}

.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #ffbb00;
  height: 2px;
  box-sizing: border-box;
  width: 200px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  z-index: 1;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  z-index: 1;
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

@keyframes apparition {
  100% {
    opacity: 1;
    transform: none;
  }
}