html {
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  body {
    color: rgb(255, 255, 255);
    background-color:#262626;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .wiki-text {
    display: flex;
    justify-content: center;
    align-items: center;
    }
  
  .wiki {
    justify-content: center;
    align-items: center;
    color: #262626;
    border: 0px solid;
    background-color: white;
    height: 100vh;
  }
  
  #scrollUp {
    position: fixed;
    bottom : 8px;
    height: 8vh;
    width: 20vh;
    right: -90px;
    z-index: 2;
    }

    .container-fluid {
      font-size: 25px;
      margin: 0px 5px;
    }
    
    .install {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0;
      background-image: linear-gradient(225deg, #ff7300 35%, #ffae00 50%);
      color: white;
      position: relative;
      overflow: hidden;
      padding: 10px 30px;
      border-radius: 30px;
      cursor: pointer;
      font-size: 1em;
      box-shadow: 0px -0px 0px 0px #ff7b00, #ffa600;
      transition: all .2s;
    }
    
    .install::after {
      content: "";
      width: 3500px;
      height: 400px;
      color: #262626;
      position: absolute;
      top: -50px;
      left: -100px;
      z-index: -1;
      transition: all .2s;
      color: black;
    }
    
    
    .install:hover {
      transform: translate(0, -6px);
      box-shadow: 10px -10px 25px 0 rgba(#ff7300, #ffa600 );
    }
    
    .launcher {
      display: flex;
      justify-content: center ;
      align-items: center ; 
    }
    
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  overflow-y: hidden;
}

/* Modal Content/Box */
.modal-content {
  background-color: #262526;
  margin: 15% auto; /* 15% from the top and centered */
  top: -15%;
  padding: 20px;
  border: 1px solid #888;
  width: 70%; /* Could be more or less, depending on screen size */
}
    .close {
      color: #aaa;
      float: right;
      font-size: 30px;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
      color: white;
      text-decoration: none;
      cursor: pointer;
    }
    
    .oups {
      display: flex;
      justify-content: center;
      margin: auto;
      height: 500px;
      }
    .button {
      border: 0;
      background: transparent;
      color: white;
      position: relative;
      overflow: hidden;
      padding: 10px 30px;
      border-radius: 30px;
      cursor: pointer;
      font-size: 1em;
      box-shadow: 0px -0px 0px 0px #ffaa00, #ff7300;
      transition: all .5s;
    }
    
    .button::after {
      content: "";
      width: 400px;
      height: 400px;
      color: #262626;
      background-image: linear-gradient(225deg, #ff7300 35%, #ffaa00 50%);
      position: absolute;
      top: -50px;
      left: -100px;
      z-index: -1;
      transition: all .5s;
      color: black;
    }
    
    .button:hover::after {
      transform: rotate(150deg);
    }
    
    .button:hover {
      transform: translate(0, -6px);
      box-shadow: 10px -10px 25px 0 rgba(#ff7300, #ffaa00 );
    }
    
    
    /* .jouer {
      background-image: linear-gradient(to right, #ff7300, #f7b733 100%);
      background-clip: border-box;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    } */
    
    .navlogo  {
      height: 8vh;;
    }
    .navbar-brand {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 25px;
      background-image: linear-gradient(to right, #ff7b00, #f7b733 100%);
      background-clip: border-box;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    
    .nav-link {
      font-size: 30px;
      margin: 10px;
    }
    
    /* .logo {
      display: flex;
      border: 4px solid;
      background: linear-gradient(to right, #fc4a1a, #f7b733 );
      border-radius: 30px;;
      border-image-slice : 1;
      margin: auto;
    } */

    .box {
        display:flex ;
        justify-content: center ;
        align-items: center ;
        border: 5px solid red ;
        width: 650px;
        height: 15vh;
        border-image: linear-gradient(to right, #fc4a1a, #f7b733 );
        border-image-slice : 1 ;
        margin: auto;
      }
      
      .center {
      
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 500;
      
      }
      
      .square {
        display: flex;
        border: 2px solid #262626;
        width: 650px;
        height: 10h;
        margin: auto;
      }
      ul{
        list-style: none;
      }
      .footer{
        background-color: #24262b;
          padding: 70px 0;
      }
      .footer-col{
         width: 25%;
         padding: 0 15px;
      }
      
      .footer-col h4{
        font-size: 18px;
        color: #ffffff;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
      }
      .footer-col h4::before{
        content: '';
        position: absolute;
        left:0;
        bottom: -10px;
        background-color: #ffbb00;
        height: 2px;
        box-sizing: border-box;
        width: 200px;
      }
      .footer-col ul li:not(:last-child){
        margin-bottom: 10px;
      }
      .footer-col ul li a{
        font-size: 16px;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        color: #bbbbbb;
        display: block;
        transition: all 0.3s ease;
      }
      .footer-col ul li a:hover{
        color: #ffffff;
        padding-left: 8px;
      }
      .footer-col .social-links a{
        z-index: 1;
        height: 40px;
        width: 40px;
        background-color: rgba(255,255,255,0.2);
        margin:0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #ffffff;
        transition: all 0.5s ease;
      }
      .footer-col .social-links a:hover{
        z-index: 1;
        color: #24262b;
        background-color: #ffffff;
      }
      
      /*responsive*/
      @media(max-width: 767px){
        .footer-col{
          width: 50%;
          margin-bottom: 30px;
      }
      }
      @media(max-width: 574px){
        .footer-col{
          width: 100%;
      }
      }